/* 就像这样 */

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #4e4e4e;
}

i {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a,
input,
textarea,
select {
    outline: none;
}

body {
    background-color: #f8f8f8;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-items {
    display: flex;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}